<form action = "/sessions/destroy">
	<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
	<input type = "submit" value = "Log Out">
</form>

<h1>List of Secrets</h1>

<a href="/users/<%= current_user.id %>">Your Profile</a>

<% if @secrets %>
	<% @secrets.each do |secret| %>
		<p><%= secret.content %></p>
		<p><%= secret.users_that_like.count %> likes</p>
		<% if secret.users_that_like.include?(current_user) %>
		<form action = "/secrets/<%= secret.id %>/unlike" method = "post">
			<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
			<input type = "hidden" name = "_method" value = "delete">
			<input type = "hidden" name = "like[secret_id]" value = "<%= secret.id %>">
			<input type = "hidden" name = "like[user_id]" value = "<%= current_user.id %>">
			<input type = "submit" value = "Unlike">
		</form>
		<% else %>
		<form action = "/secrets/<%= secret.id %>/like">
			<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
			<input type = "hidden" name = "like[secret_id]" value = "<%= secret.id %>">
			<input type = "hidden" name = "like[user_id]" value = "<%= current_user.id %>">
			<input type = "submit" value = "Like">
		</form>	
		<% end %>

		<% if session[:user_id] == secret.user_id %>
		<form action = "/secrets/<%= secret.id %>" method = "post">
			<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
			<input type = "hidden" name = "_method" value = "delete">
			<input type = "submit" value = "Delete Secret">
		</form>
		<% end %>
	<% end %>
<% end %>